LOG_LEVEL='INFO'

WEBSOCKET_PORT='8001'

EXPLORING_METHOD='multicast'

MULTICAST_ADDRESS='235.5.5.11'
MULTICAST_PORT='8001'
MULTICAST_INTERFACE_NAME='wlan0'

BROADCAST_ADDRESS='255.255.255.255'
BROADCAST_PORT='8001'

CACHE_PATH=''
